# Default ignored files
/shelf/
/workspace.xml

sqljdbc_12.6
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.el
*.ipr
*.iws
*.pif
*.snap
.ant.properties
.classpath 
.DS_Store
.project
.settins
bin
apache-ant-1.*
/build/
/dist/
